<div class="new-trouble-form small-12 large-12 columns">
	<%= form_for :trouble, as: :trouble, url: '/troubles', method: 'post' do |f| %>
		<%= f.label(:title, "The title of your trouble.") %>
		<%= f.text_field(:title) %>
		<%= f.label(:description, "A more detailed description of your trouble.") %>
		<%= f.text_field(:description) %>
		<%= f.label(:skill, "What skill someone will need to effectively solve your trouble.") %>
		<%= f.select(:skill, options_for_select(["None", "Legal", "First Aid", "Mathematics", "Computers"])) %>
		<%= f.radio_button(:timeliness, "urgent") %>
		<%= f.label(:timeliness_urgent, "Urgent Trouble (right now)") %>
		<%= f.radio_button(:timeliness, "timely") %>
		<%= f.label(:timeliness_timely, "Timely Trouble (hours or a day or so)") %>
		<%= f.radio_button(:timeliness, "relaxed") %>
		<%= f.label(:timeliness_relaxed, "Relaxed Trouble (no rush)") %>
		<%= f.submit("Get Help!", class: "button success round") %>
	<% end %>
</div>